<!doctype html>
<html lang="en">
    <head>
    </head>
<body>
    <footer class="footer" th:fragment="footer">
        <div class="container">
            <p><span class="text-muted">Copyright &copy 2018 Julian Jupiter | All Rights Reserved.</span></p>
            <p></p>
        </div>
    </footer>

    <div th:fragment="script" th:remove="tag">
        <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
        <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </div>
    </body>
</html>
