<table class="table viewBookTable" th:fragment="viewBookTable" style="display:none;">
    <tbody>
        <tr>
            <th class="text-right border-0" scope="row">ID</th>
            <td class="border-0" id="id"></td>
        </tr>
        <tr>
            <th class="text-right border-0" scope="row">Title</th>
            <td class="border-0" id="title"></td>
        </tr>
        <tr>
            <th class="text-right border-0" scope="row">Edition</th>
            <td class="border-0" id="edition"></td>
        </tr>
        <tr>
            <th class="text-right border-0" scope="row">Author</th>
            <td class="border-0" id="author"></td>
        </tr>
        <tr>
            <th class="text-right border-0" scope="row">Description</th>
            <td class="border-0" id="description"></td>
        </tr>
        <tr>
            <th class="text-right border-0" scope="row">Category</th>
            <td class="border-0" id="category"></td>
        </tr>
    </tbody>
</table>