<!doctype html>
<html lang="en">
    <head>
        <th:block th:include="fragments/header :: head"></th:block>
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="container">
            <div class="row">
                    <button type="button" class="btn btn-primary" data-action="addBook" data-toggle="modal" data-target="#defaultModal"><i class="far fa-plus-square"></i> New</button>
                    <table id="bookTable" class="table" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th class="bg-dark">ID</th>
                                <th class="bg-dark">Title</th>
                                <th class="bg-dark">Edition</th>
                                <th class="bg-dark">Author</th>
                                <th class="bg-dark">Category</th>
                                <th class="bg-dark">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div th:replace="fragments/modal :: defaultModal"></div>
        <div th:replace="fragments/form :: bookForm"></div>
        <div th:replace="fragments/table :: viewBookTable"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
        <div th:replace="fragments/footer :: script"></div>
    </body>
</html>